**/Actividades Universidad Veeeeeeracruzanah/
**/Capturas Materias/
**/Contactos Maestros/
**/Diapositivas y Archivos de Materias/
**/Materias/Primer Semestre/Como ser mejor estudiante/
**/Materias/Primer Semestre/Fundamentos de Matemáticas/
**/Materias/Primer Semestre/Habilidades del pensamiento critico y creativo/
**/Materias/Primer Semestre/Lectura y Redacción a travez del análisis del mundo contemporaneo/
**/Materias/Segundo Semestre/Álgebra Lineal para Computación/
**/Materias/Segundo Semestre/Habilidades de Comunicación/
**/Materias/Segundo Semestre/Laboratorio de Resolución de Problemas/
**/Materias/Segundo Semestre/Matemáticas Discretas/Proyecto Final/
**/Materias/Tercer Semestre/Auleriano/
**/Materias/Tercer Semestre/Requerimientos de Softguar/
*.DS_Store
*.zip
._*.*
